/* =================================================================

    UTILITIES

================================================================= */


/* -----------------------------------------------------------------
    Miscellaneous
----------------------------------------------------------------- */

ul{

	&.inline-list{
		> li, > li > a{
			display:inline-block;
		}
	}

	&.unstyled{
		> li{
			list-style: none;
		}
	}

}

a{
	&.underline{
		text-decoration:underline;
	}
}

