/* =================================================================

    VARIABLES

================================================================= */

/* -----------------------------------------------------------------
    breakpoints
----------------------------------------------------------------- */

$screenXS: 599px;
$screenS:  600px;
$screenM:  900px;
$screenL:  1200px;
$screenXL: 1800px;


/* -----------------------------------------------------------------
    layout
----------------------------------------------------------------- */

$containerWidth: 1200px;
$containerPadding: 10px;
$sectionPadding: 50px;


/* -----------------------------------------------------------------
    typography
----------------------------------------------------------------- */

$baseFontSize: 1.8rem;
$baseLineHeight: 2rem;
$baseFontFamily: Arial, Helvetica, sans-serif;


/* -----------------------------------------------------------------
    components
----------------------------------------------------------------- */

	/* -------------------------------------------------------------
		1) component one here
	---------------------------------------------------------------*/



	/* -------------------------------------------------------------
		2) component two here
	---------------------------------------------------------------*/



	/* -------------------------------------------------------------
		3) component three here
	---------------------------------------------------------------*/